
:global #react-app{
    height: 100%;
}

:global .icon{
    width: 1em; height: 1em;
    fill: currentColor;
    overflow: hidden;
}

:global .flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}